
/* Pattern: Dark */
.t4-palette-dark {
	color: #f8f9fa;
	background-color: #111111;
}
.t4-palette-dark a:not(.btn) {
	color: #d93030;
}
.t4-palette-dark a:not(.btn):hover {
	color: #d93030;
}
/* Heading */
.t4-palette-dark h1,
.t4-palette-dark h2,
.t4-palette-dark h3,
.t4-palette-dark h4,
.t4-palette-dark h5,
.t4-palette-dark h6 {
	color: #f8f9fa;
}
/* Module */
.t4-palette-dark .nav > li > a {
	color: #d93030;
}
.t4-palette-dark .nav > li > a:hover,
.t4-palette-dark .nav > li > a:focus,
.t4-palette-dark .nav > li > a:active {
	color: #d93030;
}
.layout-home .t4-sticky.t4-palette-dark {
	background-color: transparent;
}
.not-at-top .t4-sticky.t4-palette-dark {
	background-color: #111111;
}

/* Pattern: Primary */
.t4-palette-primary {
	color: #f8f9fa;
	background-color: #1b3060;
}
.t4-palette-primary a:not(.btn) {
	color: #d93030;
}
.t4-palette-primary a:not(.btn):hover {
	color: #d93030;
}
/* Heading */
.t4-palette-primary h1,
.t4-palette-primary h2,
.t4-palette-primary h3,
.t4-palette-primary h4,
.t4-palette-primary h5,
.t4-palette-primary h6 {
	color: #f8f9fa;
}
/* Module */
.t4-palette-primary .nav > li > a {
	color: #d93030;
}
.t4-palette-primary .nav > li > a:hover,
.t4-palette-primary .nav > li > a:focus,
.t4-palette-primary .nav > li > a:active {
	color: #d93030;
}
.layout-home .t4-sticky.t4-palette-primary {
	background-color: transparent;
}
.not-at-top .t4-sticky.t4-palette-primary {
	background-color: #1b3060;
}

/* Pattern: Gray */
.t4-palette-gray {
	color: rgba(136, 136, 136, 0.75);
	background-color: #f8f9fa;
}
.t4-palette-gray a:not(.btn) {
	color: #d93030;
}
.t4-palette-gray a:not(.btn):hover {
	color: #d93030;
}
/* Heading */
.t4-palette-gray h1,
.t4-palette-gray h2,
.t4-palette-gray h3,
.t4-palette-gray h4,
.t4-palette-gray h5,
.t4-palette-gray h6 {
	color: #111111;
}
/* Module */
.t4-palette-gray .nav > li > a {
	color: #d93030;
}
.t4-palette-gray .nav > li > a:hover,
.t4-palette-gray .nav > li > a:focus,
.t4-palette-gray .nav > li > a:active {
	color: #d93030;
}
.layout-home .t4-sticky.t4-palette-gray {
	background-color: transparent;
}
.not-at-top .t4-sticky.t4-palette-gray {
	background-color: #f8f9fa;
}

/* Pattern: Transparent */
.t4-palette-transparent {
	color: #f8f9fa;
	background-color: rgba(255, 255, 255, 0);
}
.t4-palette-transparent a:not(.btn) {
	color: #d93030;
}
.t4-palette-transparent a:not(.btn):hover {
	color: #d93030;
}
/* Heading */
.t4-palette-transparent h1,
.t4-palette-transparent h2,
.t4-palette-transparent h3,
.t4-palette-transparent h4,
.t4-palette-transparent h5,
.t4-palette-transparent h6 {
	color: #f8f9fa;
}
/* Module */
.t4-palette-transparent .nav > li > a {
	color: #d93030;
}
.t4-palette-transparent .nav > li > a:hover,
.t4-palette-transparent .nav > li > a:focus,
.t4-palette-transparent .nav > li > a:active {
	color: #d93030;
}
.layout-home .t4-sticky.t4-palette-transparent {
	background-color: transparent;
}
.not-at-top .t4-sticky.t4-palette-transparent {
	background-color: rgba(255, 255, 255, 0);
}

/* Section: topbar */

#t4-topbar .bg-overlay {
	opacity: 0.5;
}

/* Section: header */
#t4-header {
	position: sticky;
	top: 0;
	z-index: 10;
}
#t4-header .bg-overlay {
	opacity: 0.5;
}
#t4-header .bg-overlay-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
}

/* Section: hero */

#t4-hero .bg-overlay {
	opacity: 1;
}
#t4-hero .bg-overlay-image {
	background-image: url(/works/ja_stark_rtl/images/demo/hero/hero-1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

/* Section: section-1 */

#t4-section-1 .bg-overlay {
	opacity: 1;
}
#t4-section-1 .bg-overlay-image {
	background-image: url(/works/ja_stark_rtl/images/demo/bg/section-1.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

/* Section: section-2 */

#t4-section-2 .bg-overlay {
	opacity: 0.5;
}

/* Section: section-3 */

#t4-section-3 .bg-overlay {
	opacity: 1;
}
#t4-section-3 .bg-overlay-image {
	background-image: url(/works/ja_stark_rtl/images/demo/bg/section-2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	background-attachment: fixed;
}

/* Section: section-4 */

#t4-section-4 .bg-overlay {
	opacity: 0.5;
}

/* Section: section-5 */

#t4-section-5 .bg-overlay {
	opacity: 1;
}
#t4-section-5 .bg-overlay-image {
	background-image: url(/works/ja_stark_rtl/images/demo/bg/section-5.png);
	background-attachment: fixed;
}

/* Section: section-6 */

#t4-section-6 .bg-overlay {
	opacity: 0.5;
}

/* Section: section-7 */

#t4-section-7 .bg-overlay {
	opacity: 1;
}
#t4-section-7 .bg-overlay-image {
	background-repeat: no-repeat;
	background-position: 100% 0;
}

/* Section: section-8 */

#t4-section-8 .bg-overlay {
	opacity: 1;
}
#t4-section-8 .bg-overlay-image {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 0;
}

/* Section: footer */

#t4-footer .bg-overlay {
	opacity: 0.5;
}

/* Section: footnav */

#t4-footnav .bg-overlay {
	opacity: 0.5;
}
/**
 *------------------------------------------------------------------------------
 * @package       T4_Blank - Free Template for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2019 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt
 *------------------------------------------------------------------------------
**/
:root {
  /* brand colors */
  --primary: #1b3060;
  --secondary: #d93030;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #111111;
  --dark: #111111;
  --body-bg-color: rgba(255, 255, 255, 0);
  --body-bg-img-repeat: repeat;
  --body-bg-img-position: left top;
  --body-bg-img-attachment: scroll;
  --body-text-color: rgba(136, 136, 136, 0.75);
  --link-color: #d93030;
  --link-hover-color: #d93030;
  --font-family-base: louis_george_caferegular;
  --font-size-root: 16px;
  --line-height-base: 1.56;
  --letter-spacing: normal;
  --heading-font-family: louis_george_cafebold;
  --heading-line-height: 1.4;
  --heading-letter-spacing: normal;
  --h1-font-size: 60px;
  --h2-font-size: 32px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 20px;
  --h6-font-size: 16px;
}
/* for megamenu animation duration */
.t4-megamenu.animate .dropdown.animating > .dropdown-menu {
  transition-duration: 400ms;
}

/**
* $JA#COPYRIGHT$
*/
:root {
  --blue: #2e3d96;
  --indigo: #3F51B5;
  --purple: #9C27B0;
  --pink: #E91E63;
  --red: #dc3545;
  --orange: #FF9800;
  --yellow: #ffc107;
  --green: #4CAF50;
  --teal: #009688;
  --cyan: #22cc99;
  --primary: #2e3d96;
  --secondary: #22cc99;
  --success: #22cc99;
  --info: #2e3d96;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #e9ecef;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "louis_george_caferegular", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

/**
 *------------------------------------------------------------------------------
 * @package       T4-Blank - Free Template for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2019 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt
 *------------------------------------------------------------------------------
**/
.btn {
  white-space: normal; }

a[name="top-anchor"] {
  position: absolute;
  top: 0;
  height: 100px;
  width: 0px;
  visibility: hidden; }

#back-to-top {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: none; }

.top-away #back-to-top {
  display: block; }

html {
  font-size: 16px; }

body {
  background-color: #fff;
  color: rgba(136, 136, 136, 0.75);
  font-family: louis_george_caferegular;
  font-size: 16px;
  font-weight: ;
  line-height: 1.56;
  letter-spacing: normal; }

.t4-content {
  background-image: ;
  background-repeat: repeat;
  background-position: left top;
  background-size: ;
  background-attachment: scroll;
  background-color: rgba(255, 255, 255, 0); }

a {
  color: #d93030; }

a:hover {
  color: #d93030; }

h1, h2, h3, h4, h5, h6 {
  font-family: louis_george_cafebold;
  font-weight: ;
  line-height: 1.4;
  letter-spacing: normal; }

h1, .h1 {
  font-size: 60px; }

h2, .h2 {
  font-size: 32px; }

h3, .h3 {
  font-size: 28px; }

h4, .h4 {
  font-size: 24px; }

h5, .h5 {
  font-size: 20px; }

h6, .h6 {
  font-size: 16px; }

/* COLORS
--------------------------------------- */
/* Backgrounds Colors */
.bg-primary {
  background-color: #1b3060 !important; }

.bg-secondary {
  background-color: #d93030 !important; }

.bg-success {
  background-color: #28a745 !important; }

.bg-info {
  background-color: #17a2b8 !important; }

.bg-warning {
  background-color: #ffc107 !important; }

.bg-danger {
  background-color: #dc3545 !important; }

.bg-light {
  background-color: #f8f9fa !important; }

.bg-dark {
  background-color: #111111 !important; }

/* Buttons Colors */
.btn.btn-primary {
  background-color: #1b3060 !important;
  border-color: #1b3060 !important; }

.btn.btn-primary:hover {
  opacity: 0.85; }

.btn.btn-secondary {
  background-color: #d93030 !important;
  border-color: #d93030 !important; }

.btn.btn-secondary:hover {
  opacity: 0.85; }

.btn.btn-success {
  background-color: #28a745 !important;
  border-color: #28a745 !important; }

.btn.btn-success:hover {
  opacity: 0.85; }

.btn.btn-info {
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important; }

.btn.btn-info:hover {
  opacity: 0.85; }

.btn.btn-warning {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important; }

.btn.btn-warning:hover {
  opacity: 0.85; }

.btn.btn-danger {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important; }

.btn.btn-danger:hover {
  opacity: 0.85; }

.btn.btn-light {
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important; }

.btn.btn-light:hover {
  opacity: 0.85; }

.btn.btn-dark {
  background-color: #111111 !important;
  border-color: #111111 !important; }

.btn.btn-dark:hover {
  opacity: 0.85; }

/* Text Colors */
.text-primary {
  color: #1b3060 !important; }

.text-secondary {
  color: #d93030 !important; }

.text-success {
  color: #28a745 !important; }

.text-info {
  color: #17a2b8 !important; }

.text-warning {
  color: #ffc107 !important; }

.text-danger {
  color: #dc3545 !important; }

.text-light {
  color: #f8f9fa !important; }

.text-dark {
  color: #111111 !important; }

/* Badage Colors */
.badge-primary {
  background-color: #1b3060; }

.badge-secondary {
  background-color: #d93030; }

.badge-success {
  background-color: #28a745; }

.badge-info {
  background-color: #17a2b8; }

.badge-warning {
  background-color: #ffc107; }

.badge-danger {
  background-color: #dc3545; }

.badge-light {
  background-color: #f8f9fa; }

.badge-dark {
  background-color: #111111; }

/* TPL
--------------------------------------- */
.contact .contact-links ul li a:hover > span, .contact .contact-links ul li a:focus > span, .contact .contact-links ul li a:active > span {
  background: #1b3060;
  border-color: #1b3060; }

.t4-section.t4-pattern-primary {
  background: #1b3060; }
  .t4-section.t4-pattern-primary .bg-overlay-image::after {
    background: #1b3060; }

.acm-hero .btn.html5lightbox.primary,
.acm-hero .btn.html5link.primary {
  background: #1b3060; }

.t4-megamenu .dropdown-menu ul > li a.nav-link:hover,
.t4-megamenu .dropdown-menu ul > li a.dropdown-item:hover {
  color: #d93030; }

.t4-megamenu .dropdown-menu ul > .active a.nav-link,
.t4-megamenu .dropdown-menu ul > .active a.dropdown-item {
  color: #d93030; }

.t4-megamenu .dropdown-menu .mega-nav > li a.nav-link:hover,
.t4-megamenu .dropdown-menu .mega-nav > li a.dropdown-item:hover {
  color: #d93030; }

.t4-megamenu .dropdown-menu .mega-nav > .active a.nav-link,
.t4-megamenu .dropdown-menu .mega-nav > .active a.dropdown-item {
  color: #d93030; }

.module-title {
  color: #d93030; }

#t4-section-7 .t4-section-module .module-title {
  color: #d93030; }
