$rl-white:      #ffffff;
$rl-black:      #000000;

$rl-gray-50:    #f9fafa;
$rl-gray-100:   #f4f5f6;
$rl-gray-200:   #e6e8ec;
$rl-gray-300:   #c0c6cf;
$rl-gray-400:   #929cab;
$rl-gray-500:   #637188;
$rl-gray-600:   #4f5a6c;
$rl-gray-700:   #3c4452;
$rl-gray-800:   #2a303a;
$rl-gray-900:   #1e2228;

$rl-red-50:     #fdf8f8;
$rl-red-100:    #fcf0ef;
$rl-red-200:    #f9dcdc;
$rl-red-300:    #f1a9a9;
$rl-red-400:    #e66968;
$rl-red-500:    #dc2a28;
$rl-red-600:    #b02120;
$rl-red-700:    #861918;
$rl-red-800:    #5e1211;
$rl-red-900:    #420c0c;

$rl-orange-50:  #fefaf7;
$rl-orange-100: #fef4ee;
$rl-orange-200: #fee7d9;
$rl-orange-300: #fdc3a1;
$rl-orange-400: #fc975a;
$rl-orange-500: #fb6b14;
$rl-orange-600: #c85510;
$rl-orange-700: #99410c;
$rl-orange-800: #6b2e08;
$rl-orange-900: #4b2006;

$rl-yellow-50:  #fffcf7;
$rl-yellow-100: #fff8ee;
$rl-yellow-200: #fff1d9;
$rl-yellow-300: #ffdca0;
$rl-yellow-400: #ffc259;
$rl-yellow-500: #ffa813;
$rl-yellow-600: #cc860f;
$rl-yellow-700: #9b660b;
$rl-yellow-800: #6d4808;
$rl-yellow-900: #4c3205;

$rl-green-50:   #f8fcf9;
$rl-green-100:  #eef8f2;
$rl-green-200:  #daefe1;
$rl-green-300:  #a2d9b5;
$rl-green-400:  #5dbc7e;
$rl-green-500:  #18a047;
$rl-green-600:  #138038;
$rl-green-700:  #0e612b;
$rl-green-800:  #0a441e;
$rl-green-900:  #073015;

$rl-teal-50:    #f7fbfc;
$rl-teal-100:   #eef7f8;
$rl-teal-200:   #d8eef0;
$rl-teal-300:   #9fd6da;
$rl-teal-400:   #57b8bf;
$rl-teal-500:   #0f9aa4;
$rl-teal-600:   #0c7b83;
$rl-teal-700:   #095d64;
$rl-teal-800:   #064246;
$rl-teal-900:   #042e31;

$rl-blue-50:    #f7fafd;
$rl-blue-100:   #eef3fc;
$rl-blue-200:   #d8e5f9;
$rl-blue-300:   #9fbef0;
$rl-blue-400:   #588de5;
$rl-blue-500:   #115dda;
$rl-blue-600:   #0d4aae;
$rl-blue-700:   #0a3884;
$rl-blue-800:   #07275d;
$rl-blue-900:   #051b41;

$rl-purple-50:  #faf8fd;
$rl-purple-100: #f5effc;
$rl-purple-200: #e9daf9;
$rl-purple-300: #c8a3f0;
$rl-purple-400: #9f5fe5;
$rl-purple-500: #761bda;
$rl-purple-600: #5e15ae;
$rl-purple-700: #471084;
$rl-purple-800: #320b5d;
$rl-purple-900: #230841;

$rl-pink-50:    #fdf8fc;
$rl-pink-100:   #fbeef8;
$rl-pink-200:   #f7daf0;
$rl-pink-300:   #eda3da;
$rl-pink-400:   #e05ebf;
$rl-pink-500:   #d319a4;
$rl-pink-600:   #a81483;
$rl-pink-700:   #800f64;
$rl-pink-800:   #5a0a46;
$rl-pink-900:   #3f0731;
